{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row mx-auto">

        <div class="col-md-4 mt-4 tail text-info" onclick="location.href={% url 'profile' %};">
            <p class="text-center tail-text"> Profile </p>
            <p class="icon-users-1 icons text-center "></p>

        </div>

        <div class="col-md-4 mt-4 tail text-secondary">
            <p class="text-center tail-text"> Budget </p>
            <p class="icon-bank icons text-center"></p>
        </div>

        <div class="col-md-4 mt-4 tail text-warning" >
            <p class="text-center tail-text"> Statistics </p>
            <p class="icon-id-card icons text-center"></p>
        </div>

    </div>

    <div class="row mx-auto">
        <div class="col-md-4 mt-4 tail text-danger" >
            <p class="text-center tail-text"> Counters </p>
            <p class="icon-sliders icons text-center"></p>
        </div>
        
        <div class="col-md-4 mt-4 tail text-success">
            <p class="text-center tail-text"> Bills </p>
            <p class="icon-dollar icons text-center"></p>
        </div>

        <div class="col-md-4 mt-4 tail">
            <p class="text-center tail-text"> Report </p>
            <p class="icon-pencil icons text-center"></p>
        </div>
    </div>
{% endblock content %}