{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="row">
        <div class="col-md-8 border rounded mt-3 p-4 shadow">
            <form action="" method="post">{% csrf_token %}
                <legend class="border-bottom mb-4"> Reset Password </legend>
                    {{ form|crispy}}
        
                <div class="form-group">
                    <button type="submit" class="btn btn-info mt-5">Reset Password</button>
                </div>
                
            </form>

        </div>

    </div>
{% endblock content %}