{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section col-md-6 mt-4 shadow">
        <div class="media">
            <img class="rounded-circle p-5" src="{{ user.profile.image.url }}" alt="">

            <div class="media-body mt-5">
                <h2>{{ user.username }}</h2>
                <p>{{ user.email }}</p>
        </div>
        </div>
    <!-- User Update form an Profile Update form-->
        <div class="content-sm border-top p-5">
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <legend> Profile Info </legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                
                <input type="submit" value="Update" class="btn btn-info mt-3">
            </form>    
        </div>
        
    </div>
{% endblock content %}