{% extends "wallet/base.html" %}
{% block content %}
    <div class="content-section col-md-6 mt-4">
        <h3>Power Counter Record detail </h3>
        <table class="table table-hover">
            <tbody>
				<tr>
                    <th scope="row">Added Date</th>
                    <td>{{ object.date|date:"d M Y" }} </td>
                </tr>
                <tr>
                    <th scope="row">Counter value</th>
                    <td>{{ object.value}} </td>
                </tr>
                <tr>
                    <th scope="row">Monthly Usage</th>
                    <td>{{ object.monthly_usage }} kwh</td>
                </tr>
                <tr>
                    <th scope="row">Monthly Cost</th>
                    <td>{{ object.monthly_cost }} zł</td>
                </tr>
                
            </tbody>
        </table>
        <a href="{% url 'power-list' %}" class="btn btn-warning">Back</a>
    </div>
{% endblock content %}