{% extends "base.html" %}
{% block content %}
    <div class="content-section col-md-6 mt-4">
       <h3 class="text-success mt-4"> Gaz Suppliers List </h3>
			
			<table class="table mt-3">
				<div class="mt-4">
					<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
					<a href="{% url 'gaz-supplier-create' %}" class="btn btn-success"> Add Gaz Supplier </a>
				</div>
				<thead>
			 		<tr>
						<th scope="col"> Nr </th>
						<th scope="col"> Supplier Name </th>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for record in object_list %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ record.name }}</td>
							<td><a href="{% url 'gaz-supplier-update' record.id %}" class="btn btn-info"> Edit </a></td>
							<td><a href="{% url 'gaz-supplier-detail' record.id %}" class="btn btn-outline-warning"> Details </a></td>
							<td><a href="{% url 'gaz-supplier-delete' record.id %}" class="btn btn-danger"> Delete </a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
        
    </div>
{% endblock content %}